@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Poppins;
}
:root {
  --bg-primary: oklch(0.97 0.014 254.604);
  --bg-main: #ffffff;
  --bg-secondary: #f9fafb;
  --text-color: #364153;
  --hover-color: whitesmoke;
  --text-primary: oklch(0.546 0.245 262.881);
  --text-secondary: oklch(0.446 0.03 256.802);
  --nav-text: oklch(0.373 0.034 259.733);
  --border-color: #e5e7eb;
  --bg-btn: #4f46e5;
}

.dark-mode {
  --bg-primary: oklab(0.379 -0.0113991 -0.145554 / 0.3);
  --bg-main: #1e2939;
  --bg-secondary: #101828;
  --text-color: #fff;
  --hover-color: #364153;
  --text-primary: oklch(0.707 0.165 254.624);
  --text-secondary: oklch(0.707 0.022 261.325);
  --nav-text: oklch(0.872 0.01 258.338);
  --border-color: #364153;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.text-main {
  color: var(--text-color) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary);
}

.nav-text {
  color: var(--nav-text);
}

.bg-btn {
  background-color: var(--bg-btn);
}

.bg-btn:hover {
  background-color: #4338ca;
}

.bg-btn:active,
.bg-btn:focus,
.bg-btn:focus-visible {
  background-color: #4338ca !important;
  box-shadow: none !important;
  outline: none !important;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color) !important;
}

.border-end {
  border-right: 1px solid var(--border-color) !important;
}

.border {
  border: 1px solid var(--border-color) !important;
}

.userProfile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

.userProfile:hover {
  transform: scale(1.1);
}

.sidebar {
  top: 60px;
  width: 250px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

nav-item {
  transition: 0.1s ease-in-out;
  border-radius: 10px;
}

.dropdown-menu {
  transform: translateY(6px);
}

.nav-text:focus,
.nav-text:active,
.nav-text[aria-expanded="true"],
.nav-text[aria-expanded="false"] {
  color: var(--nav-text) !important;
}

.arrow {
  transition: transform 0.3s ease;
}

.nav-link[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}

.nav-link:not(.active):hover,
.dropdown-item:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  border-radius: 10px;
}

.icon {
  display: inline-block;
  transition: transform 0.4s ease;
}

.nav-link:not(.active):hover .icon {
  transform: scale(1.1);
}

.content {
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.active {
  color: var(--text-primary) !important;
  background-color: var(--bg-primary) !important;
  border-radius: 10px;
}

.tran-y {
  transform: translateY(-50%);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 18px;
}

.icon-eye {
  position: absolute;
  top: 50%;
  right: 18px;
  font-size: 18px;
  cursor: pointer;
}

table th {
  background-color: var(--bg-main) !important;
  color: var(--text-color) !important;
}
table td {
  background-color: var(--bg-main) !important;
  color: var(--text-secondary) !important;
}

.focused {
  border: none;
  box-shadow: 0 0 0 0.07rem #0d6efd !important;
}

.rq {
  box-shadow: 0 0 0 0.07rem #dc3545 !important;
}

.fs-6 {
  font-size: 14px !important;
}

.fs-7 {
  font-size: 12px !important;
}

.fs-8 {
  font-size: 10px !important;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.btnCanvas i {
  color: var(--text-color) !important;
}

.card:hover .name {
  color: var(--text-primary) !important;
}

.my-toast-error {
  position: fixed;
  bottom: 10px;
  right: 0;
  border: 2px solid #dc3545 !important;
  transform: translateX(120%);
  transition: transform 0.4s ease;
}

.my-toast-error.show {
  transform: translateX(0);
  right: 25px;
}

.my-toast-success {
  position: fixed;
  bottom: 10px;
  right: 0;
  border: 2px solid #198754 !important;
  transform: translateX(120%);
  transition: transform 0.4s ease;
}

.my-toast-success.show {
  transform: translateX(0);
  right: 25px;
}

@media (min-width: 992px) {
  .content {
    height: calc(100vh - 57px);
    margin-left: 250px;
    margin-top: 57px;
  }
}
