@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Poppins;
}
:root {
  --bg-pimary: oklch(0.97 0.014 254.604);
  --bg-main: #ffffff;
  --bg-secondary: #f9fafb;
  --text-color: #364153;
  --hover-color: whitesmoke;
  --text-primary: oklch(0.546 0.245 262.881);
  --text-secondary: oklch(0.446 0.03 256.802);
  --nav-text: oklch(0.373 0.034 259.733);
  --border-color: #e5e7eb;
}

.dark-mode {
  --bg-pimary: oklab(0.379 -0.0113991 -0.145554 / 0.3);
  --bg-main: #1e2939;
  --bg-secondary: #101828;
  --text-color: #fff;
  --hover-color: #364153;
  --text-primary: oklch(0.707 0.165 254.624);
  --text-secondary: oklch(0.707 0.022 261.325);
  --nav-text: oklch(0.872 0.01 258.338);
  --border-color: #364153;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.text-main {
  color: var(--text-color) !important;
}

.bg-primary {
  background-color: var(--bg-pimary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary);
}

.nav-text {
  color: var(--nav-text);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color) !important;
}

.border-end {
  border-right: 1px solid var(--border-color) !important;
}

.border{
  border: 1px solid var(--border-color) !important;
}

.sidebar {
  top: 60px;
  width: 250px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

nav-item {
  transition: 0.1s ease-in-out;
  border-radius: 10px;
}


.dropdown-menu {
  transform: translateY(6px);
}

.nav-text:focus,
.nav-text:active,
.nav-text[aria-expanded="true"],
.nav-text[aria-expanded="false"] {
    color: var(--nav-text) !important;
}

.nav-link:not(.active):hover,
.dropdown-item:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  border-radius: 10px;
}

.content {
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.active {
  color: var(--text-primary) !important;
  background-color: var(--bg-pimary) !important;
  border-radius: 10px;
}

.tran-y {
  transform: translateY(-50%);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 18px;
}

.f-c::placeholder {
  color: var(--text-prime) !important;
}

@media (min-width: 992px) {
  .content {
    height: calc(100vh - 57px);
    margin-left: 250px;
    margin-top: 57px;
  }
}
